:root {
  font-size: 30px;
  color: black;
  min-width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr;
  width: 100%;
  place-content: center;
}
