img {
    width: 15vw;
}

.card {
    color: white;
    display: flex;
    flex-direction: column;
    width: 15vw;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 0;
}
